.item {
  width: 323px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #0000004d;
}

.item__image-container {
  position: relative;
  display: inline-block;
}

.item__image {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  display: block;
  cursor: pointer;
}

.item__name {
  margin: 0;
  font-size: 20px;
  font-weight: unset;
  line-height: 20px;
  color: #000;
  background-color: transparent;
  border-radius: 4px;
}

.item__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 90%;
}
.item__price {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  font-weight: 600;
}
.item__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
}

.item__like-btn {
  background: url(../../assets/images/heart.svg) no-repeat transparent;
  height: 27px;
  width: 27px;
  box-sizing: border-box;
  bottom: 10px;
  right: 12px;
  position: absolute;
  border: none;
  appearance: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item__like-btn:hover {
  cursor: pointer;
  background: url(../../assets/images/red-heart.svg) no-repeat;
}

.item__like-btn:checked {
  cursor: pointer;
  background: url(../../assets/images/red-heart.svg) no-repeat;
}
