html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;
}

.page__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
