.page {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  min-height: 100vh;
}

.page__content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
