html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.page__content {
  max-width: 1400px;
  margin: 0 auto;
}
