.recipients {
  margin-top: 20px;
  position: relative;
  display: none;
}
.recipients_opened {
  display: block;
}

.recipients__title {
  background-color: lightgrey;
  margin: 0 0 20px;
  padding: 5px;
}
.recipients__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
  justify-content: center;
}
.recipient__add-btn {
  border-radius: 9px;
  position: absolute;
  right: 30px;
  bottom: 50px;
}

.recipient-main {
  display: none;
}
.recipient_opened {
  display: block;
}
.recipient__title {
  margin: 25px 0 20px;
}
.recipient__gift-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
}
