.items {
  margin-top: 40px;
}

.items__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
}

.recipients {
  margin-top: 20px;
}
.recipients__title {
  background-color: lightgrey;
  margin: 0 0 20px;
  padding: 5px;
}
.recipients__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
  justify-content: center;
}
.recipient__add-btn {
  border-radius: 9px;
  position: absolute;
  right: 30px;
  bottom: 50px;
}
