.main {
  position: relative;
}
.recipients {
  margin-top: 20px;
  min-height: 750px;
  position: relative;
  display: none;
}
.recipients_opened {
  display: block;
}

.recipients__title {
  background-color: #c5d7ed;
  margin: 0 0 20px;
  padding: 5px;
}

.recipients__exist {
  display: none;
}
.recipient__show-empty {
  display: block;
}
.recipients__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 35px;
  justify-content: center;
}

.recipient__add-btn {
  border-radius: 25px;
  position: absolute;
  right: 50px;
  bottom: 100px;
  min-width: 193px;
  background-color: #0197a6;
  border: none;
  padding: 16px;
  font-weight: 700;
}

.recipient-main {
  display: none;
}
.recipient_opened {
  display: block;
}
.recipient__title {
  margin: 25px 0 20px;
}
.recipient__gift-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
}
