.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.modal_opened {
  visibility: visible;
}
.modal__container {
  background-color: #ffffff;
  position: relative;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 28px 28px 36px;
  border: 1px solid #0000004d;
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.modal_opened .modal__container {
  transform: scale(1);
  opacity: 1;
}

.modal__title {
  color: #000000;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.modal__close-btn {
  background-image: url(../../assets/images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: opacity 0.2s;
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 24px 0 24px;
  color: #000000;
}

.modal__input {
  display: block;
  border: none;
  margin: 8px 0 0;
  border-bottom: 1px solid #000000;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 0 4px;
  text-overflow: ellipsis;
}

.modal__input:hover {
  cursor: pointer;
}
.modal__input:focus {
  outline: none;
}

.modal__input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000080;
}

.modal__submit-btn {
  max-width: 124px;
  padding: 0;
  margin: 32px 0 0;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.modal__Cancel-btn {
  max-width: 124px;
  padding: 0;
  margin: 32px 0 0;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
.modal_opened {
  opacity: 1;
  pointer-events: all;
}
