.recipient {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #0000004d;
  padding: 10px;
}

.recipient__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
}
.recipient__name {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #00000099;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 9px;
}

.recipient__gifts-number {
  margin: 0;
}

.recipient__content {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-top: 12px;
  padding: 0 20px;
}

.recipient__btn {
  cursor: pointer;
  border-radius: 8px;
}
