.cart-item {
  width: 323px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #0000004d;
}
.cart-item__image {
  width: 200px;
  height: 200px;
  border-radius: 18px;
}
