.cart-items {
  margin-top: 40px;
}

.cart-items__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 20px;
  justify-content: center;
}
/* .item {
  width: 323px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #0000004d;
}
.item__image {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  display: block;
  cursor: pointer;
}
.item__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #00000099;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
}

.item__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 12px;
}
.item__price {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
}
.item__description {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
} */
